body{
    font-family:arial,sans-serif;
    text-align: center;
}
#webpage{
    border:2px solid black;
}
a{
    margin-left:20px;
    padding:4px;
    border-radius:5px;
    float:left;
    text-decoration: none;
    color:black;
    background-color: rgb(173, 216, 230);
}
a:hover{
    background-color:rgb(173, 236, 250);
}