body{
    font-family:arial, sans-serif;
    display:flex;
    justify-content:center;

}
.website{
    padding:50px;
    display:flex;
    justify-content:center;
    border:2px solid black;
    border-radius:20px;
}