.card.shadow-sm.p-3.text-decoration-none {
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.1s ease;
  cursor: pointer;
}
.card.shadow-sm.p-3.text-decoration-none:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  color: white;
}
.card-header {
  letter-spacing: 0.5px;
}
.list-group-item {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
svg {
  display: block;
  margin: 0 auto;
  width: 510px;
  height: 350px;
}
.bar {
  fill: #007bff;
}
/* ===== Hero Image ===== */
.hero-image {
  background-image: url("../assets/background/Plane_background.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay für bessere Lesbarkeit */
.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Text über dem Bild */
.hero-text {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.hero-text p {
  font-size: 1.25rem;
}
