body {
font-family: arial, sans-serif;
  background: linear-gradient(180deg,  #f5f5f5,#b3b3b3);
}

.container {
    gap: 20px;
    max-width: 600px;
    margin: 40px auto;
}

#title {
    text-align: center;
    color:white;
    background: rgb(0, 0, 81);
    margin-top:0px;
    padding-bottom:20px;
    padding-top:20px;
}
label{
    display:flex;
    justify-content: center;
}

#controls {
    position: sticky;
    display:flex;
    justify-content:center;
    gap:20px;
    top: 0;
    z-index: 0;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
}

#othersites {
  background: #ffffff;
    position: relative;
    border-radius:20px;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}
.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.item {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.2s;
    color:white;
}

.item:hover {
    background: #ffffff;
    color:black;
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}








html,body{
    margin:0;   
}
.item img {
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: translateY(-5px) rotate(-1deg);
}