body {
font-family: arial, sans-serif;
background-color:#f5f5f5}

.container {
    gap: 20px;
    max-width: 600px;
    margin: 40px auto;
}

#title {
    text-align: center;
    color:white;
    background: rgb(0, 0, 81);
    margin-top:0px;
    padding-bottom:20px;
    padding-top:20px;
}


#text {
    position: sticky;
    top: 0;
    z-index: 0;
}

#othersites {
  background: #ffffff;
    position: relative;
    padding:20px;
    border-radius:20px;
    z-index: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}
.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navigationbar{
    padding-bottom:5px;
    text-decoration:none;
    color:white;
    font-size:2rem;
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    background-color:rgb(0, 0, 81);
}
.item-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.item {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.2s;
    color:white;
}

.item:hover {
    background: #ffffff;
    color:black;
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}



.back:hover {
    color:yellow;
}
.back{
    color:white;
    margin-left:5px;
}
a{
    text-decoration: none;
}
html,body{
    margin:0;   
}