/* === Global Text & Layout === */
body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  color: #2c2c2c;
  background: linear-gradient(180deg,  #f5f5f5,#b3b3b3);
  padding: 0;
}

main {
  max-width: 750px;
  margin: 3rem auto;
  padding: 2.2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.9rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: .3rem;
  border-bottom: 2px solid #eee;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  margin-bottom: .7rem;
}

p {
  margin: 1.2rem 0;
  color: #444;
}


ul, ol {
  margin: 1.2rem 0 1.2rem 2rem;
}
a:not(.back){
  padding-left:20px;
  padding-right:20px;
}